{% extends 'base/main.html' %}

{% block content%}

    <div>
        <h1>Home page</h1>
    </div>

    <div>

        <a href="{% url 'create_room' %}">create_room</a>

        <div>
            {% for room in rooms %}
                <div>
                    <a href="{% url 'update_room' room.id %}">Edit</a>
                    <a href="{% url 'delete_room' room.id %}">delete</a>
                    <span>@{{ room.host.username }}</span>
                    <h5>{{ room.id}} -- <a href="{% url 'room' room.id %}"> {{ room.name }} </a> </h5>
                    <span>{{ room.topic.name }}</span>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}