{% extends 'main.html' %}

{% block content %}

<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

    

    <div class="profile-container">
        <div>
            <div class="container">
                <h2>{{user.username}}</h2>
            </div><br><br>
            {% include 'base/topics.html' %}
        </div>

        <div>
            {% include 'base/feed_component.html' %}
        </div>

        <div>
            {% include 'base/activity_compo.html' %}
        </div>

    </div>
{% endblock %}